button {
  background-color: transparent;
  color: black;
  padding: 15px 20px;
  border: 1px solid rgb(167, 149, 149);
  border-radius: 5px;
  font-size: 18px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

button:hover {
  /* background-color: rgb(233, 80, 25); */
  background-color: green;
  color: white;
  border: 1px solid silver;
}
