* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 81px;
}

nav > img {
  height: 50px;
  width: 200px;
  margin: 10px 50px;
}

.logo {
  line-height: 70px;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 120px;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

a:hover {
  background-color: white;
  color: green;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background: #2c3e50; */
    /* background: rgb(52, 150, 52); */
    background: silver;
    color: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 170px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
